@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: #1976D2;

}


header {
    margin-top: 2em;
}


.fabutton {
    background: none;
    padding: 0px;
    border: none;
}

#logo-img {
    width: 60px;
    height: 60px;
}

#logo {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    font-family: Roboto;
    margin: auto;
}

#logout-desktop--div, #search-div {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logout-mobile--div {
    display: none;

}

#logout--a{
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-sign-out{
    color: #ffffff;
}

#search-div input {
    color: #ffffff;
    min-width: 20em;
    font-size: 1.5rem;
}

#search-div input::placeholder {
    color: #ffffff;
    font-size: 1rem;
}

#search-div i {
    color: #ffffff;
}

@media (max-width: 968px) {

    #logout-mobile--div {
        display: flex;
    }

    #logout-desktop--div {
        display: none;
    }

    #logout-desktop--div a {
        padding: .5rem 1rem;
    }

    header {
        margin-top: 0;
    }

    header .row {
        padding: 1em;
    }

    #logo-img, #logo {
        width: 40px;
        height: 40px;
        margin: 0;
        padding: 0;
    }

    #search-div input {
        min-width: 0;
    }

    #search-div {
        padding: 0;
    }

    #search-div form {
        margin: 0;
    }

    #search-div input {
        padding: 0;
        margin-top: 0;
    }
}