{% extends 'main/wrapper.html' %}
{% load static %}
{% block head %}

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">

    <!-- Link Swiper's JS -->
    <script src="https://unpkg.com/swiper/js/swiper.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/dictation.css' %}">

{% endblock %}

{% block content %}

    <p class="error">{{ error }}</p>
    <div class="container">
        <div class="row">
            <div id="dictation-info--div" class="col-lg-4 col-md-12 col-sm-12 col-12">
                <div id="start-dictation--div">
                    <a class="btn" href="/dictation/{{ dictation.code }}">Start dictation</a>
                </div>
                <div class="col-12 col-lg-12 col-md-12 col-sm-12 table-responsive text-nowrap" style="padding: 0">
                    <table class="table table-sms" id="dictation-info--table">
                        <tbody>
                        <tr>
                            <td>Question amount</td>
                            <th>{{ dictation.amount_of_words_for_dictation }}</th>
                        </tr>
                        <tr>
                            <td>Type of questions</td>
                            <th>{{ mode }}</th>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <th>{{ dictation.name }}</th>
                        </tr>
                        <tr>
                            <td>Creator</td>
                            <th>{{ dictation.creator }}</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="swiper-container col-lg-8 col-12 col-md-12 col-sm-12 row" id="words" style="">
                <div class="swiper-wrapper">
                    {% for word in dictation_words %}
                        <div class="swiper-slide">
                            <div class="scene scene--card col-lg-6 col-sm-6 col-10 col-md-6">
                                <div class="dictation-card">
                                    <div class="card__face card__face--front">{{ word.term }}</div>
                                    <div class="card__face card__face--back">{{ word.translation }}</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- Add Pagination -->
                <div id="swiper-pagination--div">
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <!-- Add Arrows -->
                </div>
            </div>
        </div>
    </div>
    <div>

        <script>

            {# Initialize Swiper #}
            var swiper = new Swiper('.swiper-container', {
                pagination: {
                    el: '.swiper-pagination',
                    type: 'fraction',
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });

            $(".dictation-card").on("click", function () {

                $(this).toggleClass('is-flipped');

            });

        </script>

{% endblock %}