{% extends "main/wrapper.html" %}
{% load static %}
{% block content %}
    <script>

        var dictation = {
            id: "{{dictation.id}}",
        };

        var app = {
            csrf_token: $("[name=csrfmiddlewaretoken]").val(),
        }

    </script>
    <script src="{% static 'js/tabs_switcher.js' %}"></script>
    <script src="{% static 'js/dictation_term_translation.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/dictation_test.css' %}">
    <div class="container">
        <div id="quiz-questions--div" class="row m-1">
            <div id="question-info--div" class="col-lg-12 col-12 col-md-12 col-sm-12 p-0">
                <div id="question-nums--div" class="col-lg-12 col-12 col-md-12 col-sm-12">
                    <ul class="nav nav-tabs" id="question-tabs--ul" role="tablist">
                        {% for word in dictation_words %}
                            {% if forloop.counter == 1 %}
                                <li role="presentation" class="active">
                                    <a class="btn btn-sm" href="#step{{ forloop.counter }}"
                                       aria-controls="step{{ forloop.counter }}"
                                       role="tab"
                                       data-toggle="tab">{{ forloop.counter }}</a>
                                </li>
                            {% else %}
                                <li role="presentation">
                                    <a class="btn btn-sm" href="#step{{ forloop.counter }}"
                                       aria-controls="step{{ forloop.counter }}"
                                       role="tab" data-toggle="tab">{{ forloop.counter }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab-content" id="question-tabs--div">
                    {% for word in dictation_words %}
                        <div role="tabpanel" class="d-word tab-pane {% if forloop.counter == 1 %} active {% endif %}"
                             data-id="{{ forloop.counter }}" id="step{{ forloop.counter }}">
                            <div>
                                <div class="term p-2">{{ word.translation }}</div>
                                <div class="answers mt-4">
                                    <input class="form-control definition" name="answer-{{ forloop.counter }}"
                                           placeholder="Translation" type="text">
                                </div>
                            </div>
                            <div style="min-height: 4em">
                                <button class="btn btn-info previous-tab">previous</button>
                                {% if not forloop.last %}
                                    <button class="btn btn-info next-tab">next</button>
                                {% else %}
                                    <button class="btn btn-success finish">Finish</button>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}